:root{
	--primary-color: #790DAB;
	--secondary-color: #EABFCB;
	/* 
		Breakpoints
	*/
	--mobile-breakpoint: 480px;
	--tablet-breakpoint: 768px;
	--laptop: 1024px;
	--large: 1200px;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Manrope';
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 12px 48px;
	border-bottom: 1px solid #eee;
}

.header__menu .header__menu__ul{
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.list{
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.header__menu .header__menu__ul .list:hover{
	color: var(--primary-color);
	cursor: pointer;
}

.header__menu .header__menu__hamburger {
	display: none;
}

.header .header__button {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: end;
}

.button{
	font-family: 'manrope';
	font-weight: 500;
	padding: 10px 20px;
	background-color: #fff;
	color: #000;
	border: none;
	border-radius: 4px;
}

.button--secondary {
	background-color: var(--secondary-color);
	color: #000;
}


.button--primary{
	background-color: var(--primary-color);
	color: #fff;
}

/* 
	header responsive rules
*/
@media screen and (max-width: 767px){
	.header{
		padding: 12px 16px;
	}

	.header .header__button{
		display: none;
	}
	
	.header .header__menu .header__menu__ul{
		display: none;
		height: 90%;
		width: 100%;
		position: absolute;
		background-color: #eee;
		left: 0;
		top: 10%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.header__menu .header__menu__hamburger {
		display: block;
	}
}


/* 
	hero section
*/

.hero{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hero .hero__col{
	width: 50%;
}

.hero .card{
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0 48px;
}

.card .card__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.card .card__info h6{
	font-weight: 600;
	padding: 8px 12px;
	border-radius: 120px;
	background-color: var(--secondary-color);
	
}

.card .card__info h1{
	font-size: 48px;
	font-weight: 500;
}

.card .card__info p{
	font-size: 14px;
	line-height: 24px;
}

.card .card__form .canvas{
	padding: 8px 8px 8px 16px;
	background-color: #eee;
	border: none;
	border-radius: 8px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card .card__form .canvas input{
	font-family: 'Manrope';
	font-weight: 600;
	padding: 10px 0px;
	background: none;
	outline: none;
	border: none;
	width: 75%;
}

.card .card__form .canvas a{
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	background-color: var(--primary-color);
	border: none;
	border-radius: 8px;
	padding: 10px 14px;
	transition: all 0.3s ease-in-out;
}

.card .card__form .canvas a:hover{
	background-color: var(--secondary-color);
	color: #000;
	transition: all 0.3s ease-in-out;
}

.card .card__form .card__form__help{
	font-size: 12px;
	font-weight: 500;
	margin-top: 8px;
	color: #333;
}

.card .card__rating{
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	margin-left: 12px;
}

.card__rating .card__rating__img{
	display: flex;
	flex-direction: row;
	margin-left: 0px;
}

.card__rating .card__rating__img img{
	width: 36px;
	height: 36px;
	border-radius: 100%;
	object-fit: cover;
	margin-left: -12px;
	border: 2px solid #fff;
}

.card__rating .card__rating__total{
	font-size: 12px;
	font-weight: 500;
	color: #444;
}

.hero .image {
	padding: 40px 0px 40px 40px;
	background-color: #eee;
}

.hero .image img{
	width: 100%;
	height: 80vh;
	object-fit: cover;
	box-shadow: 0px 0px 24px 0px #0000002c;
}

/*
	hero responsive rule
 */
 @media screen and (max-width: 1023px){
	.hero {
		gap: 40px;
		flex-direction: column-reverse;
		flex-wrap: wrap-reverse;
	}

	.hero .hero__col{
		width: 100%;
	}

	.hero .card{
		padding: 0 16px;
	}

	.card .card__info h1{
		font-size: 32px;
	}

	.card .card__form .canvas{
		width: 100%;
	}

	.hero .image {
		padding: 24px;
	}

	.hero .image img {
		height: 320px;
	}
}

/* 
	review block
*/

.review {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	padding: 80px 320px;
	background-color: #fafafa;
	margin: 80px 0px;
}

.review__block {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.review__block h1{
	font-weight: 600;
	font-size: 48px;
	text-align: center;
	color: #333;
}

.review__block p {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.review .review__card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.review__card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review__card__item h6 {
	font-size: 24px;
	font-weight: 600;
	color: var(--primary-color);
}

.review__card__item p {
	font-size: 14px;
	font-weight: 500;
	margin-top: 8px;
	text-align: center;
}

/* 
	responsive design for review block
	1024px
*/
@media screen and (max-width: 1023px) {
	.review {
		padding: 64px 80px;
	}

	.review__block h1 {
		font-size: 32px;
	}
}

/* 
	responsive design for review block
	1024px
*/
@media screen and (max-width: 767px) {
	.review {
		padding: 64px 16px;
	}

	.review__block h1 {
		font-size: 24px;
	}

	.review .review__card{
		flex-direction: column;
		gap: 24px;
	}
}


/* 
	pricing block
*/
.pricing{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.pricing__info{
	text-align: center;
}

.pricing__info h1{
	font-size: bold;
	font-size: 40px;
	text-align: center;
}

.pricing__info p {
	font-size: 14px;
	font-weight: 500;
	margin-top: 16px;
	color: #666;
}

.pricing__card{
	display: flex;
	align-items: center;
	gap: 40px;
	width: 60%;
}

.pricing__card__feature {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 50%;
	border-radius: 20px;
	padding: 24px;
	background-color: #faefff;
}

.pricing__card__feature .tab {
	display: flex;
	flex-direction: row;
	width: fit-content;
	background-color: #fff;
	border-radius: 140px;
	overflow: hidden;
}

.pricing__card__feature .tab div{
	padding: 10px 24px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 140px;
}

.pricing__card__feature .tab div.active{
	background-color: var(--primary-color);
	color: #fff;
}

.pricing__card__feature .list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.pricing__card__feature .list__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pricing__card__feature .list__item svg.close{
	padding: 2px;
	background-color: #fafafa;
	border-radius: 100%;
}

.pricing__card__feature .list__item svg.check{
	padding: 2px;
	background-color: var(--primary-color);
	border-radius: 100%;
}

/* 
	plan block
*/
.plan{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.plan__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 12px;
	transition: all 0.3s ease-in-out;
}

.plan__item:hover{
	background-color: #fafafa;
	cursor: pointer;
}

.plan__item__info h1{
	font-size: 20px;
	font-weight: 500;
}

.plan__item__info button {
	font-family: Manrope;
	font-size: 10px;
	padding: 3px 12px;
	border-radius: 160px;
	border: none;
	background-color: #ffd4d4;
	color: #dd3838;
	margin-top: 8px;
}

.plan__item__price{
	font-size: 20px;
	font-weight: 700;
}

.plan__item.active {
	background-color: var(--primary-color);
	color: #fff;
	border: 1px solid var(--primary-color);
	transition: all 0.3s ease-in-out;
}

.plan__item.active:hover{
	background-color: #9d1fd8;
	border: 1px solid #9d1fd8;
}

.plan__item.active button {
	background-color: #edc7ff;
	color: var(--primary-color);
}

/* 
	responsive rules for pricing
*/
@media screen and (max-width: 1023px) {
	.pricing {
		padding: 0 16px;
	}
	.pricing__card {
		width: 100%;
		gap: 20px;
	}

	.pricing__info h1 {
		font-size: 24px;
	}
}

@media screen and (max-width: 767px) {
	.pricing__card {
		flex-direction: column;
	}

	.pricing__card__feature {
		width: 100%;
	}

	.pricing__card .plan{
		width: 100%;
	}
}